* {
  margin: 0;
  padding:0;
}

body, html {
  height: 100%;
}

body {
  background: url('/balls.png');
  background-size: 25%;
  background-color: #13111b;
}

form {
  background:#e1e1e1;
  width: 500px;
  margin: 80px auto;
  padding: 100px 50px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

label {
  margin-bottom: 20px;
}

input, button {
  padding: 8px;
  font-size: 18px;
  border: 0;
}

button {
  background: #13111b;
  color: white;
}